body{
  background-color: #f6f6f6;
  font-family: 'Lato', sans-serif;
}
.TopThird{
  position: absolute;
  top: 15px;
  left: 1400px;
  font-size: 20px;
}
.Top{
  position: absolute;
  top: 15px;
  left: 1000px;
  font-size: 20px;
}
.Toptwo{
  position: absolute;
  top: 15px;
  left: 1220px;
  font-size: 20px;
}
.numerotwo{
  font-size: 13px;
  text-align: center;
  margin-right: 70px;
}
.enter{
  background-color:  #ffd800;
  line-height: 30px;
  border: none;
  display: inline-block;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 800;
}
.input{
  width: 290px;
  line-height: 25px;
}
.fire{
  position: absolute;
  left: 296px;
  margin-top: 101px;

}
.Premium{
  position: absolute;
  margin-top:100px;
  text-align: center;
  left: 400px;
}
.locally{
  position: absolute;
  margin-top:130px;
  text-align: center;
  left: 400px;
  font-size: 15px;

}
.camion{
  position: absolute;
  left: 300px;
  margin-top: 230px;
}
.Fast{
  position: absolute;
  margin-top:230px;
  text-align: center;
  left: 400px;
}
.sure{
  position: absolute;
  margin-top:260px;
  text-align: center;
  left: 400px;
  font-size: 15px;
}
.quality{
  position: absolute;
  left: 290px;
  margin-top: 350px;
}
.Assurance{
  position: absolute;
  margin-top:350px;
  text-align: center;
  left: 400px;
}
.ensure{
  position: absolute;
  margin-top:380px;
  text-align: center;
  left: 400px;
font-size: 15px;
}
#video{
  margin-top: 450px;
  width: 600px;
  margin-right: 20px;
}
.caree1{
  position: absolute;
  left: 145px;
  margin-left: 50px;
  margin-top: 80px;
  border: groove;
  padding-bottom: 0px;
  text-align: center;
  height: 250px;
  width: 300px;
}

.select{
  background-color: #ffd800;
  border: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 5px;
  line-height: 35px;
  width: 110px;
  margin-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.tenor{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: revert;
  font-size: 20px;
  margin: 0

}
.caree2{
  position: absolute;
  left: 500px;
  margin-top: 80px;
  border: groove;
  padding-bottom: 0px;
  text-align: center;
  height: 250px;
  width: 300px;
}
.base{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: revert;
  font-size: 20px;
  margin: 0
}
.button2{
  background-color: #ffd800;
  border: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 5px;
  line-height: 35px;
  width: 110px;
  margin-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.caree3{
  position: absolute;
  left: 820px;
  margin-left: 50px;
  margin-top: 80px;
  border: groove;
  padding-bottom: 0px;
  text-align: center;
  height: 250px;
  width: 300px;
}
.valve{
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: revert;
  font-size: 20px;
  margin: 0
}
.button3{
  background-color: #ffd800;
  border: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 5px;
  line-height: 35px;
  width: 110px;
  margin-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
#last{
  position: relative;

}
.end{
  position: relative;
  left: 750px;
  top: 19px;
}
.end2{
  position: relative;

  left: 820px;
}
.end3{
  position: relative;
  bottom: 19px;
  left: 890px;
}
.end4{
  position: relative;
  left: 722px;
  bottom: 15px;
  font-size: 15px;
  color: grey;
}
